.button {
    background-color: #33e4d9;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 6px solid #33e4d9;
    width: 500px;
    border-radius: 12px;
  }
  
  .button1:hover {
    background-color: #33e4d9;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 6px solid #008CBA;
    width: 500px;
    border-radius: 12px;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 6px solid #4636f4;
    width: 500px;
    border-radius: 12px;
  }
  
  .button3:hover {
    background-color: #4636f4;
    color: white;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 6px solid #981cc9;
    width: 500px;
    border-radius: 12px;
  }
  
  .button4:hover {
    background-color: #981cc9;
    color: white;
}
.button5 {
    background-color: white; 
    color: black; 
    border: 6px solid #f436d8;
    width: 500px;
    border-radius: 12px;
  }
  
  .button5:hover {
    background-color: #f436d8;
    color: white;
  }
  
  .button6 {
    background-color: white;
    color: black;
    border: 6px solid #555555;
    width: 500px;
    border-radius: 12px;
  }
  
  .button6:hover {
    background-color: #555555;
    color: white;
  }
  
  .text-center {
    text-align: center;
     margin-top: 150px;
  }
 
  h1 {
    text-align: center;
    color:rgb(255, 0, 128);
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    font-family: Monaco;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  h1 {
    padding: 0px;
    background: linear-gradient(to right, rgb(255, 0, 128) 0, hsl(0, 0%, 100%) 10%, rgb(255, 0, 128) 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s infinite linear;
  }
  
  @keyframes shine {
    0% {
      background-position: 100px;
    }
    60% {
      background-position: 700px;
    }
    100% {
      background-position: 900px;
    }
  }
  body
  {

      background-image: url("9.png");
      background-color: #cccccc;
   
  }